<a href="https://colab.research.google.com/github/sakuragav/CIS350/blob/Assignments/CIS352Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pyspark

from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName("Assignment5").getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 13.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=516aa63decb6d22cc402306b8dfbd250395d3322c1a7c5273422fb12fab889be
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
!wget https://raw.githubusercontent.com/manishkr1754/Descriptive_Analysis_FIFA19_SQL/main/FIFA19_Players_Datasets.csv

df = spark.read.csv('FIFA19_Players_Datasets.csv', header = True)

# Register Temporary Table
df.createOrReplaceTempView("fifa")

# Select all data from temp table
spark.sql("select * from fifa limit 5").show()

--2023-03-28 15:26:54--  https://raw.githubusercontent.com/manishkr1754/Descriptive_Analysis_FIFA19_SQL/main/FIFA19_Players_Datasets.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1579210 (1.5M) [text/plain]
Saving to: ‘FIFA19_Players_Datasets.csv’

FIFA19_Players_Data 100%[===================>]   1.51M  --.-KB/s    in 0.01s

2023-03-28 15:26:55 (110 MB/s) - ‘FIFA19_Players_Datasets.csv’ saved [1579210/1579210]

+------+-----------------+---+-----------+--------------+----------------+-------------------+---------+------+--------------+---------+----------+------+------+---------+
|    ID|             Name|Age|Nationality|Overall_rating|Potential_rating|               Club|    Value|  Wage|Preferred_Foot|Jersey_No|    Joined|Height|Weight|Penalties|
+------+-----------------+---+-----------+--------------+----------------+-------------------+---------+------+--------------+---------+----------+------+------+---------+
|158023|         L. Messi| 31|  Argentina|            94|              94|       FC Barcelona|110500000|565000|          Left|       10|01-07-2004|   5'7|   159|       75|
| 20801|Cristiano Ronaldo| 33|   Portugal|            94|              94|           Juventus| 77000000|405000|         Right|        7|10-07-2018|   6'2|   183|       85|
|190871|        Neymar Jr| 26|     Brazil|            92|              93|Paris Saint-Germain|118500000|290000|         Right|       10|03-08-2017|   5'9|   150|       81|
|193080|           De Gea| 27|      Spain|            91|              93|  Manchester United| 72000000|260000|         Right|        1|01-07-2011|   6'4|   168|       40|
|192985|     K. De Bruyne| 27|    Belgium|            91|              92|    Manchester City|102000000|355000|         Right|        7|30-08-2015|  5'11|   154|       79|
+------+-----------------+---+-----------+--------------+----------------+-------------------+---------+------+--------------+---------+----------+------+------+---------+

In [ ]:
# Write a SQL query to count how many players are there in the dataset
spark.sql("select count(*) as count from fifa").show()

+-----+
|count|
+-----+
|16643|
+-----+

In [ ]:
# Write a SQL query to determine how many distinct nationalities do these players belong to
spark.sql("select count(distinct nationality) as distinctnationalities from fifa").show()
spark.sql("select count(nationality) as count from fifa group by nationality").show(162)

+---------------------+
|distinctnationalities|
+---------------------+
|                  161|
+---------------------+

+-----+
|count|
+-----+
|    2|
|   67|
|   59|
|  114|
|  384|
|    3|
|    2|
|    2|
|    1|
|  293|
|    6|
| 1151|
|    3|
|    6|
|    4|
|   83|
|    1|
|    1|
|    3|
|  853|
|   98|
|   32|
|    3|
|   48|
|    4|
|   56|
|   11|
|    5|
|   50|
|  833|
|  116|
|  231|
|   13|
|   28|
|    1|
|   37|
|   12|
|   64|
|    1|
|  102|
|    1|
|   26|
|   15|
|    6|
|  336|
|   13|
|    4|
|    1|
|  352|
|    1|
|  113|
|    3|
|  109|
|    6|
|    1|
|   14|
|  315|
|  579|
|    4|
|    8|
|  333|
|  974|
|    4|
|    3|
|  322|
|    3|
|    3|
|   17|
|   22|
|    3|
|    5|
|   79|
|   19|
|   15|
|    2|
|    3|
|   72|
|   52|
|   34|
|   13|
|    1|
|   57|
|    1|
|    8|
|    1|
|  133|
|  332|
|   19|
|   20|
|   13|
|   12|
|   25|
|    1|
|    3|
|    1|
|    4|
|    5|
|    1|
|    9|
|   29|
|    1|
|    9|
|   15|
|  313|
|    6|
|    3|
|  205|
|    9|
|    1|
|   32|
|    6|
|    1|
|    1|
|   30|
|   58|
|    2|
|    5|
|   93|
|    4|
|  788|
|    1|
|   10|
|   13|
|    1|
|   48|
|    2|
|  455|
|    3|
|    1|
|  344|
|    6|
|   34|
| 1475|
|    3|
|  378|
|   10|
|  334|
|  290|
|   85|
|  224|
|   38|
|   12|
|  286|
|   20|
|   30|
|    5|
|    4|
|  116|
|   16|
|   55|
|    1|
|  269|
|  570|
|   70|
|   21|
|   14|
|    4|
|    1|
|    5|
|  426|
|   38|
+-----+

In [ ]:
# Write a SQL query to determine which nationality has the highest number of players, what are the top 3 nationalities by number of players
spark.sql("select nationality, count(*) as count from fifa group by nationality order by count(*) desc").show(3)

+-----------+-----+
|nationality|count|
+-----------+-----+
|    England| 1475|
|    Germany| 1151|
|      Spain|  974|
+-----------+-----+
only showing top 3 rows

In [ ]:
# Write a SQL query to determine the top 3 players with the highest wage
spark.sql("select name, int(wage) from fifa order by int(wage) desc").show(3)

+----------+------+
|      name|  wage|
+----------+------+
|  L. Messi|565000|
|L. Su��rez|455000|
| L. Modriۈ|420000|
+----------+------+
only showing top 3 rows

In [ ]:
spark.sql("select * from fifa where wage > 400000").show()

+------+-----------------+---+-----------+--------------+----------------+------------+---------+------+--------------+---------+----------+------+------+---------+
|    ID|             Name|Age|Nationality|Overall_rating|Potential_rating|        Club|    Value|  Wage|Preferred_Foot|Jersey_No|    Joined|Height|Weight|Penalties|
+------+-----------------+---+-----------+--------------+----------------+------------+---------+------+--------------+---------+----------+------+------+---------+
|158023|         L. Messi| 31|  Argentina|            94|              94|FC Barcelona|110500000|565000|          Left|       10|01-07-2004|   5'7|   159|       75|
| 20801|Cristiano Ronaldo| 33|   Portugal|            94|              94|    Juventus| 77000000|405000|         Right|        7|10-07-2018|   6'2|   183|       85|
|177003|        L. Modriۈ| 32|    Croatia|            91|              91| Real Madrid| 67000000|420000|         Right|       10|01-08-2012|   5'8|   146|       82|
|176580|       L. Su��rez| 31|    Uruguay|            91|              91|FC Barcelona| 80000000|455000|         Right|        9|11-07-2014|   6'0|   190|       85|
+------+-----------------+---+-----------+--------------+----------------+------------+---------+------+--------------+---------+----------+------+------+---------+